@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100,;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body::-webkit-scrollbar-thumb{
 background-color: #051e6b;
}
body::-webkit-scrollbar-track{
  background-color: #051e6b;
}
:root {
  --bg-black-900: #050221;
  --bg-black-100: #06022e;
  --bg-black-50: #051e6b;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
  --transition:all .2s linear;
  --ff-primary:"Poppins", sans-serif;

  
}
body.dark {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
html{
  scroll-behavior: smooth;
}
.hidden { 
   opacity: 0;
   transform: translateY(100px); 
   transition: all 0.6s ease-in-out;
 }
.show { 
opacity: 1 !important; 
transform: translateY(0) !important; 
}
body {
  line-height: 1.5;
  font-size: 20px;
  /* font-family: var(--ff-primary); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Poppins", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-weight: 600; */
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.section {
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  opacity: 1;
  padding: 0 30px;
}

.main-container {
  padding-left: 270px;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--text-black-900);
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 100px;
  background-color: var(--skin-color);
  top: 100%;
  left: 0;
  position: absolute;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background-color: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 20px var(--skin-color); */
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/*Aside*/
#nav-check{
  display: none;
}
/* ------------------------------------ */
.shadow-layer{
   position: fixed;
   width: 100%;
   min-height: 100vh;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 900;
   display: none;
}
.nav-close{
  position: absolute;
  right: 0;
  top: 2px;
  display: none;
}
.nav-close svg{
  fill: var(--text-black-700);
  cursor: pointer;
}
.nav-close svg:hover{
transform: scale(1.02);
}
.nav-toggler {
  z-index: 200;
  display: none;
  
}
.nav-toggler svg:hover {
  transform: scale(1.03);
}
.nav-toggler svg{
  fill: var(--text-black-900) ;
  position: fixed;
  top: 5%;
  left: 5%;
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggler svg:hover{
  transform: scale(1.1);
}

/* ----------------------------------- */


.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  padding: 30px;
  border-right: 1px solid var(--bg-black-50);
  transition: s ease;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px; 
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
  animation: left 1s ease forwards;
}
/* -------------------------------------- */

/* -------------------------------------------------- */
.aside .logo a span {
  font-family: "Nimbus Mono ps", cursive;
  font-size: 40px;
  color: var(--skin-color);
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

.aside .nav {
  margin-top: 150px;
}
.aside .nav li {
  margin-bottom: 20px;
  animation: left 3s ease forwards;
  display: block;
  border-top: 1px solid var(--bg-black-50); 
  border-radius: 15px;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: var(--text-black-900);
  padding:0.75rem 1rem ;
  transition: var(--transition);
}
.aside .nav li :hover {
  box-shadow: 0 0 10px var(--bg-black-900);
  transform: scale(1.03);
  padding-left:1.2rem ;
  border-left: 0.5rem solid var(--bg-black-50);
  border-radius: 15px;
  background-color: var(--clr-primary-light);
}
.aside .nav li :active {
  transform: scale(0.8);
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}
/* ------------------------------------------------------------------- */
/*home*/
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}
h3.hello {
  font-size: 28px;
  margin: 15px 0;
  animation: up 2s ease forwards;
}
h3.hello span {
  font-family: "Kalnia Glaze", serif;
  font-size: 30px;
  font-weight: 700px;
  color: var(--skin-color);
}
h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
  animation: down 2s ease forwards;
}
.typing {
  color: var(--skin-color);
  font-family: "Kalnia Glaze", serif;
}
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
  animation: right 2s ease forwards;
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
  padding: 10px;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  right: 20px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  width: 80px;
  bottom: -40px;
  border-radius: 10px;
  animation: up 1s ease forwards;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  left: -20px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  width: 80px;
  top: -40px;
  border-radius: 5px;
  animation: down 1s ease forwards;
}

.home .home-img img {
  height: 400px;
  margin: auto;
  border-radius: 10px;
}

.whatsapp {
  position: fixed;
  cursor: pointer;
  background-color: rgb(25, 151, 25);
  border-radius: 10%;
  padding: 10px;
  left: 85vw;
  top: 85vh;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: medium;
  z-index: 200;
  font-weight: 900;
  animation: down 2s ease forwards;
  color: #fdf9ff;
}
.whatsapp i {
  display: inline;
   font-weight: 900;
}
.whatsapp i :hover {
  background-color: green;
}
/* ------------------------------------------------------------- */
/*about*/
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  animation: opacity linear;
}
.about .about-content .personal-info {
  flex: 0 0 60%;
  min-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  animation: opacity linear;

  padding: 10px;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about-content .skills {
  flex: 0 0 40%;
  min-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}
.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 40px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 5px;
  background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  animation: opacity 2s linear;
}
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  width: 100%;
  position: relative;
  border-radius: 10px;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  background-color: var(--skin-color);
  border-radius: 50%;
}
.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}
/* ----------------------------------------------------------------- */
/* service*/
.service .container {
  padding-bottom: 40px;
}
.service .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  animation: opacity linear;
}
.service .service-item .service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.9);
}

body.dark .service .service-item .service-item-inner:hover {
  box-shadow: 0 0 50px rgba(48, 46, 77, 0.9);
}
.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3 ease;
}
.service .service-item .service-item-inner:hover .icon {
  background-color: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: #ffffff;
}
.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  text-transform: capitalize;
  font-weight: 700;
}
.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
/* --------------------------------------------------------------------- */
/* portfolio section*/
.portfolio .container {
  padding-bottom: 40px;
}
.portfolio-img {
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
}
.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.layer {
  border-top: 1px solid rgb(219, 209, 209);
  border-radius: 8px;
  padding: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: rgb(255, 255, 255);
  transition: height 0.5s;
}
body.dark .layer {
  background-color: #e8dfec;
}
.layer h5 {
  color: #000;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0.8;
}

.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
  animation: opacity 0.1s linear;
}
.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.portfolio .portfolio-item .portfolio-item-inner .source-link {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: end;
  transform: translateY(-500px);
  transition: all 0.5s ease-in-out;
  background: linear-gradient(rgba(1, 0, 0, 0.1), #0ef);
}
.portfolio .portfolio-item .portfolio-item-inner .source-link i {
  color: rgb(11, 13, 152);
  font-size: xx-large;
}
.portfolio .portfolio-item .portfolio-item-inner .source-link i:hover {
  color: red;
  transform: scale(1.2);
}

.portfolio .portfolio-item-inner .portfolio-img {
  position: relative;
}
.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}
.portfolio-item-inner:hover .source-link {
  transform: translateY(0) !important;
}
/* ----------------------------------------------------------------------- */
/* contact*/
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}
.contact .contact-info-item {
  flex: 0 0 33%;
  max-width: 33%;
  text-align: center;
  margin-bottom: 60px;
  animation: opacity linear;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 15px;
}
.contact-info-item {
  /* border: 1px solid var(--text-black-900); */
  padding: 20px;

  gap: 20px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}
.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 15px;
  color: var(--text-black-700);
  transition: all 0.3 ease;
}
.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.7);
}

body.dark .contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 25px rgba(48, 46, 77, 0.7), rgba(48, 46, 77, 0.7) inset,
    0 0 25px blue;
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}
.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}
@media (max-width: 1199px) {
  .main-content {
    padding-left: 0;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about .about-content .education,
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .image {
    flex-direction: column-reverse;
  }
  .home-img::before {
    content: "";
    position: absolute;
    height: 80px;
    left: -20px;

    width: 80px;
    top: -40px;
    border-radius: 5px;
    display: none;
  }
  .home-img::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .whatsapp {
    left: 78vw;
  }
  .aside .nav {
    margin-top: 200px;
  }
  .aside .nav-close{
    display: block;
  }
  #nav-check:checked ~ .aside{
    transform: translateX(0);
} 
  #nav-check:checked ~ .shadow-layer{
   display: block;
} 

  .aside{
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
  }
  /* .toggle {
    transform: translateX(0);
  } */
  .main-container {
    padding-left: 0px;
  }
  .layer {
    width: 100%;
  }

  .nav-toggler {
    display: flex;
  }
}
