{% extends 'base/base.html' %}
{% block title %}
Index
{% endblock %}
{% block content %}
<h1 class="p-3">Saved Posts</h1>
<div class="d-flex g-3 p-3 flex-wrap justify-content-center ">
    {% if posts %}
       {% for post in posts  %}
       <div class="col-sm-5 ms-3 col-md-3">
         <img style="border-radius: 0px;" src="{{ post.post.image.url }}" class="post-img-custom rounded-top " alt="Post Image" />
         <div class="text-center  border">
           <a href="{% url 'app:delete_fav' slug=post.slug %}"> <i class="fa-solid text-danger fa-trash"></i></a>
         </div>
      </div>
       {% endfor %}
      {% else %}  
       <div class="text-center text-muted mt-5">
         <p class="text-secondary text-center fw-bold fs-2" >No posts yet.</p>
       </div>
      {% endif %}
     </div>

{% endblock %}
