.bg-gray{
    background-color: rgba(179, 201, 201, 0.3);
    /* box-shadow: 0 0 10px rgb(181, 201, 201,0.4) ; */
}
.bg-green-500{
  background-color: rgb(138, 226, 138,0.7);
}
li{
    list-style: none;
}

.login-container {
    min-height: 80vh;
  }
  .login-card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  .custom-label {
    font-weight: 500;
  }
  .signup-container {
    min-height: 100vh;
  }
  .signup-card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  .custom-label {
    font-weight: 500;
  }
/* .custom-label{
    position: absolute;
    z-index: 3;
    left: 5%;
    font-size: medium;
    
}
.login-input{
    z-index: 1;
    background: none;
    outline: none;
    border-radius: 5px;
    resize: none;

}
.login-input:focus +.custom-label{
    top: -10px;
    font-size: small;
    background-color: antiquewhite;
} 

.login-input:not(:focus):valid + .custom-label{
    top: -10px;
    font-size: small;
    background-color: antiquewhite;
} */
 .bg-gray-500{
    background-color: rgba(245, 250, 250, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
 }
 .profile-img-custom{
   width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
} 
 .messages{
    top: 20%; 
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
 }
 .post-card {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .post-img {
    width: 100%;
    height: auto;
  }

  .icon-btn {
    background: none;
    border: none;
    font-size: 1.3rem;
  }

  .caption {
    white-space: pre-line;
  }

  .delete svg{
    fill: rgb(255, 255, 255);
    transition: all .5s linear !important;
  }
  .hover:hover .delete{
    display: block;
  }
  .follow{
    transition: all .2s linear;
  }
  .follow:hover{
      transform: scale(.99);
      background-color: #073655;
  }
  .un-follow:hover{
    transform: scale(.99);
    background-color: #0e75b9;
  }
  .un-follow{
    background-color: #073655;
    transition: all .2s linear;
  }
  .post-img-custom{
    width: 100%;
    height: 70%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: 0.3s;
    border-radius: 8px;

  }
  .add-btn{
    position: fixed;
    bottom: 10%;
    left: 50%;
    z-index: 300;
    transform: translate(-50%);
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
    
  }
  .add-btn:hover{
      box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }
  .nav-active{
    background-color: #000000;
    border-bottom: 2px solid aqua;
  }
   #spinner{
    display: none !important;
   }
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;

  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
   
  }

.header-message {
  position: sticky;
  top: 15%;
}
.body-message{
  
  max-height: 23rem;
  min-height: 23rem;
}